:root {
    // Solarized colors: https://ethanschoonover.com/solarized/
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    // Pastel themes
    --pastel-pink: rgba(246, 226, 249, 0.83);
}


body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url('cliff-background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--base00);
}

b {
    color: var(--base01);
}

h1, h2, h3, h4, h4, h5, h6 {
    color: var(--magenta);
}

.content {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    > div {
        margin: 20px;
    }
}

.glass {
    background-color: var(--pastel-pink); // Light pink with transparency
    border-radius: 15px;  // Rounded corners
    padding: 20px;
    margin-bottom: 20px;  // Add space between the sections
    color: var(--base02);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);  // Deeper shadow for 3D effect
    border: 1px solid rgba(255,105,180,0.18);  // Light pink border
    backdrop-filter: blur(4px);  // Frosted glass effect
    -webkit-backdrop-filter: blur(4px);  // For Safari
    border-top: 2px solid rgba(255, 255, 255, 0.5);  // Bright edge on the top
    border-left: 2px solid rgba(255, 255, 255, 0.5);  // Bright edge on the left
}
